{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/about.css">
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
  <title>𝓐𝓫𝓸𝓾𝓽</title>
</head>
<body>
  <a href="{% url 'index' %}"><button class="btn">ℌ𝔬𝔪𝔢</button></a>
<div class="card">
    <img src="/static/images/explore.svg" class="about">
    <div class="text">
      <h1>Nextdoor</h1>
      <p> Nextdoor is the leading neighbourhood website in Kenya, 
        it allows you to be in the loop about everything
         that is happening around in your neighborhood.Check it out in the explore section🤗</p>
 <p class="writter">- jimmy-oss</p>
           </div>
   <div class="space"></div>
       </div>
</body>
</html>