<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <title>𝓐𝓭𝓭 𝓟𝓱𝓸𝓽𝓸</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
        <style>
            .background{
                background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
            } 
        </style>
</head>
<div class="background"> 
<body class="m-5" style="background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);">
    <div class="container">
                <a href="{% url 'explore' %}" class="btn btn-dark my-3"  style="font-family:serif; font-size:18px;">Go Back</a>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                <div class="card">
                    <form method='POST' action="add" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group m-3">
                        <label style="font-family: 'Bubblegum Sans', cursive; font-size:20px">Business Description</label>
                        <input required name="description" type="text" placeholder="Enter a description"
                            class="form-control">
                    </div>
                    <div class="form-group m-3">
                        <label style="font-family: 'Bubblegum Sans', cursive; font-size:20px">Choose a Business Category</label>
                        <select name="category" class="form-control">
                            <option value='none'>Select a category...</option>
                            {% for category in categories %}
                            <option value='{{category.id}}' style="font-family: 'Bubblegum Sans', cursive; font-size:20px" required>{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group m-3">
                        <label style="font-family: 'Bubblegum Sans', cursive; font-size:20px">Create a new Business Category</label>
                        <input name="category_new" type="text" placeholder="Create a new business category"
                            class="form-control">
                    </div>
                    <div class="form-group m-3">
                        <label style="font-family: 'Bubblegum Sans', cursive; font-size:20px">Upload image</label>
                        <input required name="image" type="file" multiple class="form-control-file" required>
                    </div>
                    <div class="form-group m-3">
                        <label class="required"  for="email_address" style="font-family: 'Bubblegum Sans', cursive; font-size:20px">Email Address</label>
                        <input required name="email_address" type="text" id="email_address"  required>
                    </div>
                    <button type='submit' class="btn btn-primary m-3" style="font-family:serif; font-size:20px">Submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>