{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/contact.css">
       <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ee663299e5f694422908a06/1fhj2uhoa';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <title>𝓒𝓸𝓷𝓽𝓪𝓬𝓽 𝓾𝓼</title>
</head>
<body>
  <a href="{% url 'index' %}"><button class="btn">ℌ𝔬𝔪𝔢</button></a>
    <div class="container">
<div class="text">Contact us Form</div>
<form action="https://gmail.us5.list-manage.com/subscribe/post?u=9943298b5e57d17cf8fc829c7&amp;id=8a34c4ee55" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-contact" target="_blank" novalidate>
    <div class="form-row">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>First Name</label>
        </div>
        <div class="input-data ">
            <input type="text" required>
            <div class="underline"></div>
            <label>Last Name</label>
        </div>
    </div>
    <div class="form-row">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Email Address</label>
        </div>
        <div class="input-data ">
            <input type="text" required>
            <div class="underline"></div>
            <label>Website Name</label>
        </div>
    </div>
    <div class="form-row">
    <div class="input-data textarea">
        <div class="underline"></div>
         <textarea  cols="30" rows="10" required></textarea>
        <label>Write Your Message</label>
    </div>
    </div>
    <div class="form-row submit-btn">
        <div class="input-data ">
            <div class="inner"></div>
            <input type="submit" value="submit"  name="subscribe" id="mc-embedded-subscribe">
        </div>
        </div>
    </form>  
    </div>  
</body>
</html>