{% load static %}
<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
  <title>𝒩𝑒𝓍𝓉𝒹𝑜𝑜𝓇</title>
 </head>
 <body>
  <section class="showcase">
    <header>
      <h2 class="logo"><img src="/static/images/nextdoor.png" width="200px" ></h2>
      <div class="toggle"></div>
    </header>
    <video src="/static/explore.mp4"  muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Never Stop</h2>
      <h3>Exploring The World</h3>
      <p>Nextdoor is the leading neighbourhood website in Kenya, 
        it allows you to be in the loop about everything
         that is happening around in your neighborhood.</p>
         <a href="#" class="btn-animated" >Explore</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="/static/images/facebook.png" width="35px"></a></li>
      <li><a href="#"><img src="/static/images/twitter.png" width="65px"></a></li>
      <li><a href="#"><img src="/static/images/instagram.png" width="65px"></a></li>
    </ul>
  </section>
  <div class="menu">
    <ul>
      <li><a href="{% url 'index' %}" >Home</li>
      <li><a href="{% url 'explore' %}" >Explore</a></li>
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </div>
  <script src="/static/js/main.js"></script>
 </body>
 </html>