{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
  <title>𝓹𝓱𝓸𝓽𝓸 </title>
   <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
 crossorigin="anonymous">  
 <link href="{% static 'css/photo.css' %}" rel="stylesheet" type="text/css"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
 <!--Custom Js--> 
 <script src="/static/assets/js/link.js" defer></script> 
</head>
<div class="background"> 
<body class="m-2" style="background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <a href="{% url 'explore' %}"  class="btn btn-dark my-3" style="font-family:serif; font-size:18px">Go back</a>
        <div style="height:70vh ;">
          <img style="max-width:100%; max-height:100%; margin-left:12em"  src="{{photo.image.url}}" >
        </div>
          <div class="skill-bars">
            <div class="bar">
              <div class="info">
                <span style="font-size: 18px;">Booking Services Are Fast</span>
              </div>
              <div class="progress-line services">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span style="font-size: 18px;">Fast & Reliable Services</span>
              </div>
              <div class="progress-line fast">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span style="font-size: 18px;">Don’t take too long to respond</span>
              </div>
              <div class="progress-line response">
                <span></span>
              </div>
            </div>
            <div class="bar">
              <div class="info">
                <span style="font-size: 18px;">Security is Effective</span>
              </div>
              <div class="progress-line security">
                <span></span>
              </div>
            </div>
          <p style="font-family: 'Berkshire Swash', cursive; font-size:20px;margin-top:2rem;text-align: center; margin-right:-10rem">{{photo.description}}</p>
          <p style="font-family: 'Berkshire Swash', cursive; font-size:20px;margin-top:2rem;text-align: center; margin-right:4rem"><img src="/static/images/mail.svg" width="50px" height="50px">Email Address Link</p>
          <button class="btn btn-dark copy-btn" style="font-family:serif; font-size:18px;margin-left:22rem;margin-top:-7.2rem;" data-gallery="{{photo.email_address}}" >Copy</button>
   
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>