{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  <title>𝓣𝓮𝓼𝓽𝓲𝓶𝓸𝓷𝓲𝓪𝓵𝓼</title>
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
  <link href="/static/css/testimonal.css" rel="stylesheet" type="text/css"/>
</head>
<body style=" background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);">
  <section class="container">
    <div class="slider">
      <div class="slide slide-1">
        <div class="slide-text">
          <p class="testimonial-text">
            “Nextdoor is really professional, friendly, artistic, reliable. 
            I was so pleased with my makeup business in the neighbouring community. 
            Customers are able to be satisfied with my great services. 
            I would highly recommend visit Nextdoor because its the best neighbourhood business”
          </p>
          <p class="author-text">Tanya Wambui
            <span>Cosmetician</span></p>
        </div>
        <div class="slide-img">
          <img src="/static/images/cosmetics.jpeg" alt="img">
        </div>
      </div>
      <div class="slide slide-2">
        <div class="slide-text">
          <p class="testimonial-text">
            “This lady is one of the best computer engineer I have ever meet, 
            he is amazing, he repaired a notebook that I was told from two other computer tech, 
            was impossible to repair.She is fast on repairing, price is affordable, 
            no doubt I will go back and recommend her”
          </p>
          <p class="author-text">Victoria Njoki
            <span>A computer technician</span></p>
        </div>
        <div class="slide-img">
          <img src="/static/images/Computer repair.png" alt="img">
        </div>
      </div>
      <div class="buttons">
        <div class="next"></div>
        <div class="prev"></div>
      </div>
    </div>
  </section>
  <script src="/static/assets/js/testimonial.js"></script>
</body>
</html>