.m-5{
  
}
.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  object-fit: cover;
 
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
.text{
  position: relative;
  z-index: 10;
  backface-visibility: hidden;
}
.image-thumbail{
  height: 200px;
 object-fit: cover;
}
.list-group-item a{
text-decoration: none;
color: black;
}

.image h3{
  margin-top:2rem;
  opacity: 1.1;
  color: white;
}
 
.image{
display: table-cell;
text-align: center;
vertical-align: middle;
font-family: 'Bubblegum Sans', cursive;
position: relative;
z-index: 10;
backface-visibility: hidden;
}
footer h3{
  text-align: center; 
  font-size: 28px;
   font-family: cursive; 
   margin-left:18rem;
   margin-top:2rem;
   opacity: 3;
   color:white;
}
 