 .m-5{
background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
 }

.image-thumbail{
  height: 200px;
 object-fit: cover;
}
.list-group-item a{
text-decoration: none;
color: black;
}

 
 
.image{
display: table-cell;
margin-left: 15rem;
text-align: center;
vertical-align: middle;
font-family: 'Bubblegum Sans', cursive;
position: relative;
z-index: 10;
backface-visibility: hidden;
}
.image h3{
  margin-top: 2rem;
  color: white;
  margin-right: 15rem;
  text-align: center;
  font-family: 'Bubblegum Sans', cursive;
}
footer h3{
  text-align: center; 
  font-size: 28px;
   font-family: cursive; 
   margin-left:30rem;
   margin-top:4rem;
   opacity: 3;
   color:white;
}
 