@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
:root{
  --overlay-color:#03a9f4;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Poppins',sans-serif;
  scroll-behavior: smooth;
}
.showcase{
   position: absolute;
   right: 0%;
   width: 100%;
   min-height: 100vh;
   padding: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #111;
   color: #FFFF;
   z-index: 2;
   transition: 0.5s;
}
.showcase.active{
    right: 300px;
}
.showcase header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  text-transform: uppercase;
  cursor: pointer;
  animation: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url("/static/images/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active{
  background-image: url("/static/images/close.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
   color: white;

}
.showcase video{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: 0.5;
}
.overlay{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #FFFF;
     mix-blend-mode: overlay;
     opacity: 0.8;
}
 
.text{
  position: relative;
  z-index: 10;
  backface-visibility: hidden;
}
.text h2{
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
  color: white;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.text h3{
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  color: white;
  animation: moveInRight 1s ease-out;
   
}
.text p{
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 600px;
  color: white;
  animation: moveInBottom 1s ease-out;
   
}
.text a{
   display: inline-block;
   font-size: 1em;
   background: #FFFF;
   padding: 10px 30px;
   text-decoration: none;
   color: #111;
   margin-top: 10px;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-radius: 2em;
   margin-left: 1em;
   transition: all .2s;
   position: relative;
}
.text a:hover{
   transform: translateY(-3px);
   letter-spacing: 6px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.text a:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.text a::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 2em;
    background-color: #FFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.text a:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated{
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}
 
 
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu{
   position: absolute;
   margin-right: 2em;
   top: 0;
   right: 0;
   width: 300px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.menu ul{
   position: relative;
   list-style: none;
}
.menu ul li a{
   text-decoration: none;
   font-size: 24px;
   color: #111;
}
.menu ul li a:hover{
    color: var(--overlay-color);
}
@media(max-width:798px){
   .showcase,.showcase header{
       padding: 40px;
   }
   .text h2{
       font-size: 3em;
   }
   .text h3{
       font-size: 2em;
   }
}
@keyframes moveInLeft{
   0%{
       opacity: 0;
       transform: translateX(100px);

   }
   80%{
       transform: translateX(-10px);

   }
   100%{
     opacity: 1;
     transform: translate(0);
   }
}
@keyframes moveInRight{
  0%{
      opacity: 0;
      transform: translateX(-100px);

  }
  80%{
      transform: translateX(10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom{
  0%{
      opacity: 0;
      transform: translateY(100px);

  }
  80%{
      transform: translateY(-10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInButton{
  0%{
      opacity: 0;
      transform: translateY(30px);

  }
   
  100%{
    opacity: 1;
    transform: translate(0);
  }
}